[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/not-much"]
	path = themes/not-much
	url = https://github.com/imgios/not-much.git
